examples/bacnet-simple-demo.json
[
  {
    "id": "bc7f5764.0ec088",
    "type": "tab",
    "label": "BACnet Tests",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b311ba2b.8fb848",
    "type": "BACnet-Command",
    "z": "bc7f5764.0ec088",
    "name": "Who is?",
    "commandType": "whoIs",
    "timeDuration": 0,
    "enableDisable": 0,
    "deviceState": 0,
    "isUtc": true,
    "lowLimit": "1",
    "highLimit": "254",
    "deviceIPAddress": "192.168.1.26",
    "server": "8131c29a.af8b4",
    "x": 480,
    "y": 60,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "8d213e97.2efe7",
    "type": "debug",
    "z": "bc7f5764.0ec088",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 810,
    "y": 260,
    "wires": []
  },
  {
    "id": "cf78b5fc.3bf8f8",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 60,
    "wires": [
      [
        "b311ba2b.8fb848"
      ]
    ]
  },
  {
    "id": "8f3aee7b.31e19",
    "type": "BACnet-Read",
    "z": "bc7f5764.0ec088",
    "name": "",
    "objectType": "8",
    "objectInstance": "4194303",
    "propertyId": "28",
    "arrayIndex": 0,
    "deviceIPAddress": "192.168.1.22",
    "server": "8131c29a.af8b4",
    "multipleRead": true,
    "x": 500,
    "y": 300,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "1643c992.878616",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 300,
    "wires": [
      [
        "8f3aee7b.31e19"
      ]
    ]
  },
  {
    "id": "566d2aa3.467b54",
    "type": "BACnet-Write",
    "z": "bc7f5764.0ec088",
    "name": "",
    "deviceIPAddress": "192.168.1.26",
    "objectType": "1",
    "objectInstance": "0",
    "valueTag": "4",
    "valueValue": "6",
    "propertyId": "85",
    "arrayIndex": "",
    "server": "8131c29a.af8b4",
    "multipleWrite": true,
    "x": 500,
    "y": 440,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "8b5be293.f184b",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 440,
    "wires": [
      [
        "566d2aa3.467b54"
      ]
    ]
  },
  {
    "id": "24f6d61f.03d6da",
    "type": "BACnet-Command",
    "z": "bc7f5764.0ec088",
    "name": "Time sync",
    "commandType": "timeSync",
    "timeDuration": 0,
    "enableDisable": 0,
    "deviceState": 0,
    "isUtc": false,
    "lowLimit": "1",
    "highLimit": "254",
    "deviceIPAddress": "192.168.1.26",
    "server": "8131c29a.af8b4",
    "x": 490,
    "y": 120,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "4d6519a3.ff6ad8",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 120,
    "wires": [
      [
        "24f6d61f.03d6da"
      ]
    ]
  },
  {
    "id": "42c8b031.f5f31",
    "type": "BACnet-Command",
    "z": "bc7f5764.0ec088",
    "name": "Device warm start",
    "commandType": "reinitializeDevice",
    "timeDuration": 0,
    "enableDisable": 0,
    "deviceState": "1",
    "isUtc": true,
    "lowLimit": "1",
    "highLimit": "254",
    "deviceIPAddress": "192.168.1.26",
    "server": "8131c29a.af8b4",
    "x": 510,
    "y": 180,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "cc244265.c1a3b",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 180,
    "wires": [
      [
        "42c8b031.f5f31"
      ]
    ]
  },
  {
    "id": "c895d081.9ca7a",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 360,
    "wires": [
      [
        "a623e076.1ce11"
      ]
    ]
  },
  {
    "id": "ce3c4362.c5f3d",
    "type": "BACnet-Write",
    "z": "bc7f5764.0ec088",
    "name": "",
    "deviceIPAddress": "192.168.1.26",
    "objectType": "8",
    "objectInstance": "4194303",
    "valueTag": "1",
    "valueValue": "true",
    "propertyId": "28",
    "arrayIndex": "12",
    "server": "8131c29a.af8b4",
    "multipleWrite": false,
    "x": 500,
    "y": 500,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "2d79e0ba.f4cf1",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 500,
    "wires": [
      [
        "ce3c4362.c5f3d"
      ]
    ]
  },
  {
    "id": "a623e076.1ce11",
    "type": "BACnet-Read",
    "z": "bc7f5764.0ec088",
    "name": "",
    "objectType": "8",
    "objectInstance": "4194303",
    "propertyId": "28",
    "arrayIndex": "",
    "deviceIPAddress": "192.168.1.22",
    "server": "8131c29a.af8b4",
    "multipleRead": false,
    "x": 500,
    "y": 360,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "7fc98e5.a89107",
    "type": "BACnet-Command",
    "z": "bc7f5764.0ec088",
    "name": "DCC disable 10 sec.",
    "commandType": "deviceCommunicationControl",
    "timeDuration": "10",
    "enableDisable": "1",
    "deviceState": "255",
    "isUtc": true,
    "lowLimit": "1",
    "highLimit": "254",
    "deviceIPAddress": "192.168.1.22",
    "server": "8131c29a.af8b4",
    "x": 520,
    "y": 240,
    "wires": [
      [
        "8d213e97.2efe7"
      ]
    ]
  },
  {
    "id": "bff0ca2.b673b38",
    "type": "inject",
    "z": "bc7f5764.0ec088",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 240,
    "wires": [
      [
        "7fc98e5.a89107"
      ]
    ]
  },
  {
    "id": "8131c29a.af8b4",
    "type": "BACnet-Client",
    "z": "bc7f5764.0ec088",
    "name": "Local BACnet",
    "adpuTimeout": "",
    "port": "",
    "interface": "",
    "broadcastAddress": ""
  }
]
